/* 各种颜色 */
/* 绿色 */
.dark-green {
  color: #0E932E;
}

.light-green {
  color: #2AA515;
}

.wave-green {
  color: #1C93A3;
}

/* 橙色 */
.orange {
  color: #E0620D;
}

.dark-orange {
  color: #E98F36;
}

.orange2 {
  color: #E16531;
}

/* 蓝色 */
.blue {
  color: #2CA4FF;
}

.light-blue {
  color: #1296DB;
}

.dark-blue {
  color: #4B5CA8;
}

/* 黄色 */
.yellow {
  color: #FFBD14;
}

/* 红色 */
.red{
  color: #D81E06;
}
